@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* font-family: 'Open Sans', sans-serif;
*/


.bg{
   
    background-image: url(../image/95431.jpg);  
    background-size: 105%;
              /*#8cbcd8;    #E83F6F */
    width:100%;
    bottom: 0;
    top: 0;
    position:fixed;
    background-repeat: no-repeat;
    
}
.logo{
    width: 6%;
    height: auto;
    margin: 20px 20px 20px 28px;
    border-radius: 50%;
    box-shadow: -5px 5px 5px gray;
}

.main{
    background-color:#000000c0;  /* #F7F7F9*/
    border-radius: 20px;
    box-shadow: -3px -3px 30px #362b1c ; /* rgb(29, 29, 29)*/
    margin: 85px 135px;
    width: 80%;
    height: 500px;
    align-items:center ;
    justify-content: center;
}
.menu{
    font-size: 1.05rem;
    list-style: none;
    display: flex;
    margin: 20px;
    margin-left: 22%;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
}
.menu li{
    margin: 0 40px;
    
}
.menu li a{
    color: rgb(221, 221, 221);
    border-radius: 2%;
    padding: 3px;
}
.menu li a:hover{
    color: rgb(255, 255, 255);
    /* background-color:#ff910057 ; */
    text-shadow: -0.75px -0.75px 4px  rgba(158, 50, 0, 0.795);
    transition: all 0.3s;
}
.menu a{
    text-decoration: none;
    color: #000;
}
header{
    border-bottom: 1px solid #dfd7cd;  /* #e0e4e7 */
    display: flex;
}

.span-more a{
    color:  rgb(158, 50, 0);
    text-decoration: none;
    font-size: 1rem;
}
.span-more a:hover{
    transition: all 0.25s ;
    text-shadow: 0.5px 0.5px 2px   rgb(158, 50, 0);
}
.arti{
    display: flex;
    margin: 10px;
}
.f-section{
    width: 35%;
    margin: 40px 120px 30px 120px;
    padding: 30px 20px;
    border-right: 1px solid #dfd7cd;
    color:#dfd7cd ;
    line-height:2rem;
}
.s-section{
   
    margin:50px;
    
}

.s-section ul{
   list-style: none;
  
}

.s-section li{
    padding-bottom: 40px;
    color: white;
}
.s-section img{
    border-radius: 30%;
    
}
.s-section img:hover{
    background-color: #7d80007c;
    transition: all 0.3s;
}

@media(max-width:1200px){
    .main{
      margin: 40px 60px;
    }
}
@media ( max-width:990px ){
    .logo{
        height:7%;
        width: 6%;
        margin: 15px 15px 13px 20px;
    }
    .menu{
        font-size: 0.9rem;
        margin-left: 120px;
        margin: 15px;
    }
    .main{
        margin: 40px 50px;
    }
    .s-section{
        margin: 60px 0 40px 100px;
        
    }
    .f-section{
        margin: 180px 20px 30px 140px;
    }
}
@media ( max-width:768px ){
    .logo{
        height:6%;
        width: 6%;
    }
    .main{
        margin: 35px 40px;
    }
    .menu{
        line-height: 40px;
        font-size: 0.9rem;
        margin-left: 70px;
    }
    .s-section img{
        width: 200px;
    }
    .s-section{
        margin: 30px 0 40px 100px;
    }
    .f-section{
        font-size: 0.8rem;
        margin: 80px 20px 30px 100px;
    }
    .social-section ul{
        margin: 60px 30px 30px 30px;
     }
}
@media(max-width:575px){
    .logo{
        height:30px;
        width:30px;
        margin: 7px 5px 5px 15px;
    }
    .main{
        margin: 20px 41px;
        width: 85%;
    }
    .menu{
        margin-left:0;
        font-size: 0.8rem;
        margin: 5px;
    }
    .s-section{
        display: none;
    }
    .f-section{
        font-size: 0.8rem;
        margin: 90px 30px 30px 80px;
    }
    .social-section ul{
        margin: 60px 30px 30px 60px;
     }
}
