
        html{
            padding: 30px 20px 50px 20px;
        }

        body{
            color: white;
            background-image: url(image-m/PicsArt1.png);
            background-size: 1400px;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        #menu-g {
            list-style: none;
            margin-bottom: 0;
        }

        #menu-g li{
            font-size: 14px;
            font-family: "Arial Black";
            color: white;
            float: left;
            padding: 20px;
            margin: 20px 10px 40px 40px;
        }

        #logoimg {
            margin: 30px 300px 30px 90px;
            padding-left: 0;
            float: left;
        }

        nav ul li a{
           
            text-decoration: none;
            color: blanchedalmond;
        }

        nav ul li a:hover{
            transition: 1s;
            color: cyan;
        }
      
        .clearfix ::after{
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        #center {
            
            padding-left: 100px;
            position: fixed
        }

        /* table{
            background-color:rgba(32, 133, 133, 0.678);
        } */
         
        table, th, td {
        border: 1px solid rgba(0, 0, 0, 0);
        border-collapse: collapse;
        }

        
        td{
            padding: 60px 150px 40px 80px;
        text-align: left;
        }

        th{
            padding: 40px 150px 40px 0;
            color: rgb(255, 255, 255);
        }
        